body {
  margin: 0;
  padding: 0;
  color: #626a72;
  background-color: #262626;
  box-sizing: border-box; }

header {
  position: sticky;
  top: 0;
  z-index: 999; }

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto; }

.navigation {
  background-color: #272b2f;
  display: flex;
  max-height: 70px; }
  .navigation .nav {
    width: 100%;
    margin: 20px; }
    .navigation .nav ul {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;
      justify-content: flex-end;
      font-size: 16px; }
      .navigation .nav ul li {
        display: flex;
        padding: 10px 20px;
        border-left: 1px solid #FFF; }
        .navigation .nav ul li a {
          text-decoration: none;
          color: #FFF; }

.logo {
  color: #FFF;
  font-size: 30px;
  margin: 20px 0 10px 28px; }
  .logo::after {
    bottom: 7px;
    background-color: #1fb5e3;
    content: "";
    height: 1px;
    position: absolute;
    width: 54px; }

.logo span::after {
  bottom: 7px;
  background-color: #f19621;
  content: "";
  height: 1px;
  left: 82px;
  position: absolute;
  width: 134px; }

.social {
  padding: 10px 0;
  text-align: center; }
  .social ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: flex-end;
    font-size: 16px; }
    .social ul li {
      display: flex; }
      .social ul li a {
        width: 70px;
        color: #FFF;
        text-decoration: none; }

.icon-height {
  margin: 18px; }

.slider {
  background-image: url("../img/slider-blue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 578px;
  overflow: hidden; }
  .slider .slider-1 {
    position: absolute;
    width: 100%;
    height: 577px; }

.indicator-box-left {
  position: absolute;
  background-color: #db09e6;
  height: 82px;
  left: 0;
  position: absolute;
  top: calc(90%/2);
  width: 46px; }
  .indicator-box-left::after {
    border-style: solid;
    content: "";
    position: absolute;
    left: 46px;
    border-width: 41px 24.7826086957px;
    border-color: transparent transparent transparent #db09e6; }

.indicator-box-right {
  position: absolute;
  background-color: #db09e6;
  height: 82px;
  right: 0;
  position: absolute;
  top: calc(90%/2);
  width: 46px; }
  .indicator-box-right::after {
    border-style: solid;
    content: "";
    position: absolute;
    right: 46px;
    border-width: 41px 24.7826086957px;
    border-color: transparent #db09e6 transparent transparent; }

.slider-text {
  position: absolute;
  top: 20%;
  left: 12%; }
  .slider-text h2 {
    color: #FFF;
    font-size: 60px;
    width: 630px; }

.menu {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: #eff2f4; }
  .menu .sticky-nav {
    border: 4px solid black;
    background-color: #FFF;
    padding: 10px 0;
    position: relative;
    width: 80%; }
    .menu .sticky-nav ul {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;
      justify-content: center;
      font-size: 16px; }
      .menu .sticky-nav ul li {
        display: flex;
        padding: 10px 20px;
        margin-left: 0 10px;
        border-left: 1px solid #FFF; }
        .menu .sticky-nav ul li a {
          text-decoration: none;
          color: #909fae; }
  .menu .box-left {
    position: absolute;
    top: -20px;
    left: 0;
    width: 60px;
    height: 60px;
    margin: 10px;
    background-color: green; }
  .menu .box-right {
    position: absolute;
    top: -20px;
    right: 0;
    width: 60px;
    height: 60px;
    margin: 10px;
    background-color: green; }

.services-background {
  background-color: #eff2f4;
  display: flex;
  justify-content: center;
  width: 100%; }

.our-services {
  width: 80%;
  padding: 0 40px; }

.our-services_box {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 80px;
  padding: 10px; }

.head {
  margin: 10px;
  padding: 10px;
  border: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  width: 300px; }
  .head h1 {
    color: #1fb5e3; }

.text {
  display: flex;
  flex-direction: row; }
  .text .text-1 {
    padding: 20px; }
  .text .text-2 {
    padding: 20px; }

.boxes {
  display: flex;
  align-items: center;
  justify-content: center; }

.box {
  margin: 10px;
  text-align: center;
  width: 300px;
  height: 300px;
  border: 1px solid #FFF; }

.box-height {
  margin-top: 120px; }

.products-background {
  background-color: #1fb5e3;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #d8f0f8; }

.our-products {
  border: 1px solid black;
  padding: 0 40px;
  width: 80%; }

.heads {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 300px; }

.boxes-icons {
  align-items: center;
  display: flex;
  justify-content: center; }

.box-icon {
  margin: 10px;
  width: 400px;
  height: 300px;
  text-align: left; }

.image-height {
  margin-bottom: 180px; }

.career {
  background-image: url("../img/carrer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 628px;
  position: relative; }

.career-box {
  position: absolute; }

.career-careers {
  left: 214px;
  top: 0; }
  .career-careers .hexagon {
    background-color: #1fb5e3; }
    .career-careers .hexagon::before {
      border-left-color: #1fb5e3; }
    .career-careers .hexagon::after {
      border-right-color: #1fb5e3; }

.career-icon {
  left: 479px;
  top: 125.5px; }
  .career-icon .hexagon {
    background-color: #1fb5e3; }
    .career-icon .hexagon::before {
      border-left-color: #1fb5e3; }
    .career-icon .hexagon::after {
      border-right-color: #1fb5e3; }

.career-cv {
  left: 479px;
  top: 376.5px; }
  .career-cv .hexagon {
    background-color: #FFF; }
    .career-cv .hexagon::before {
      border-left-color: #FFF; }
    .career-cv .hexagon::after {
      border-right-color: #FFF; }

.career-slider {
  left: 1009px;
  top: 125.5px; }
  .career-slider .hexagon {
    background-color: #f19621; }
    .career-slider .hexagon::before {
      border-left-color: #f19621; }
    .career-slider .hexagon::after {
      border-right-color: #f19621; }

.hexagon {
  height: 251px;
  position: relative;
  width: 204px; }
  .hexagon::before {
    border-style: solid;
    content: "";
    position: absolute;
    border-width: 125.5px 0 125.5px 61px;
    border-color: transparent transparent transparent transparent;
    right: -61px; }
  .hexagon::after {
    border-style: solid;
    content: "";
    position: absolute;
    border-width: 125.5px 61px 125.5px 0;
    border-color: transparent transparent transparent transparent;
    left: -61px; }

.contact {
  background-color: #272b2f;
  display: flex;
  justify-content: space-around;
  flex-direction: column; }

.describe-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .describe-box ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 16px; }
    .describe-box ul li {
      text-decoration: none;
      display: flex;
      padding: 10px 20px;
      margin-left: 0 10px;
      border-left: 1px solid #FFF; }
      .describe-box ul li a {
        text-decoration: none;
        color: white; }

.footer {
  display: flex;
  justify-content: space-between; }

.left {
  margin-left: 163px; }
  .left h3 {
    font-size: 12px; }

.right {
  margin-right: 166px; }
  .right h3 {
    font-size: 12px; }

/*# sourceMappingURL=style.css.map */