body
  margin: 0
  padding: 0
  color: #626a72
  background-color: #262626
  box-sizing: border-box

.container
  width: 100%
  max-width: 1500px
  margin: 0 auto

.navigation
  background-color: #272b2f
  display: flex

  .nav
    width: 100%
    padding: 10px 0

    ul
      display: flex
      padding: 0
      margin: 0
      list-style: none
      justify-content: flex-end
      font-size: 16px

      li
        display: flex
        padding: 10px 20px
        margin-left: 0 10px
        border-left: 1px solid #FFF

        a
          text-decoration: none
          color: white

.logo
  font-size: 40px
  margin: 4px 0 0 20px

  &::after
    content: ""
    position: absolute
    border-bottom: 2px solid #f19621

.social
  padding: 10px 0
  text-align: center

  ul
    display: flex
    padding: 0
    margin: 0
    list-style: none
    justify-content: flex-end
    font-size: 16px

    li
      display: flex
      padding: 10px 10px
      margin-left: 0 10px
      border-left: 1px solid #FFF

      a
        color: white
        text-decoration: none

.slider
  background-image: url("../img/slider-blue.jpg")
  background-repeat: no-repeat
  background-size: cover
  height: 578px
  overflow: hidden

  .slider-1
    position: absolute
    max-width: 100%
    height: 577px

// INDICATORS
$indicator-height: 82px
$indicator-width: 46px

=triangle-border-base
  border-style: solid
  content: ""
  position: absolute

.indicator-box-left
  position: absolute
  background-color: #db09e6
  height: $indicator-height
  left: 0
  position: absolute
  top: calc(90%/2)
  width: $indicator-width

  &::after
    +triangle-border-base

    left: $indicator-width
    border-width: ($indicator-height / 2) (0 + $indicator-height / $indicator-width + $indicator-width / 2)
    border-color: transparent transparent transparent #db09e6

.indicator-box-right
  position: absolute
  background-color: #db09e6
  height: $indicator-height
  right: 0
  position: absolute
  top: calc(90%/2)
  width: $indicator-width

  &::after
    +triangle-border-base
    right: $indicator-width
    border-width: ($indicator-height / 2) (0 + $indicator-height / $indicator-width + $indicator-width / 2)
    border-color: transparent #db09e6 transparent transparent

.slider-text
  position: absolute
  top: 20%
  left: 12%

  h2
    color: white
    font-size: 60px
    width: 630px

// SECTION OF STICKY-NAV

.menu
  display: flex

  .sticky-nav
    width: 100%
    padding: 10px 0

    ul
      display: flex
      padding: 0
      margin: 0
      list-style: none
      justify-content: center
      font-size: 16px

      li
        display: flex
        padding: 10px 20px
        margin-left: 0 10px
        border-left: 1px solid #FFF

        a
          text-decoration: none
          color: white

.menu
  position: relative
  display: flex
  justify-content: center

  .sticky-nav
    width: 80%
    border: 4px solid white
    position: relative

  .box-left
    position: absolute
    top: -20px
    left: 0
    width: 60px
    height: 60px
    margin: 10px
    background-color: white

  .box-right
    position: absolute
    top: -20px
    right: 0
    width: 60px
    height: 60px
    margin: 10px
    background-color: white

// OUR SERCICES SECTION

.our-service
  // background-color: #eff2f4
  width: 80%
  padding: 0 40px

.our-services_box
  margin: 0 80px
  padding: 10px
  display: flex
  justify-content: center
  align-items: center

.head
  margin: 10px
  padding: 10px
  border: 1px solid white
  display: flex
  flex-direction: column
  width: 300px

.text
  display: flex
  flex-direction: row

.boxes
  display: flex
  align-items: center
  justify-content: center

.box
  margin: 10px
  text-align: center
  width: 300px
  height: 300px
  border: 1px solid white

// OUR PRODUCTS SECTION

.our-products
  // background-color: #eff2f4
  width: 80%
  padding: 0 40px

.our-products_box
  margin: 0 80px
  padding: 10px
  display: flex
  border: 4px solid red
  justify-content: center
  align-items: center

.heads
  margin: 10px
  padding: 10px
  border: 1px solid white
  display: flex
  flex-direction: column
  width: 300px

.boxes
  display: flex
  align-items: center
  justify-content: center

// CARRER SECTION

$first-hexagon-left-position: 214px
$hexagon-base-width: 204px
$hexagon-height: 251px
$hexagon-triangle-width: 61px

=triangle-border-base
  border-style: solid
  content: ""
  position: absolute

=triangle-color($color)
  .hexagon
    background-color: $color

    &::before
      border-left-color: $color

    &::after
      border-right-color: $color

.career
  background-image: url("../img/carrer.jpg")
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  height: 623px
  position: relative

.career-box
  position: absolute

.career-careers
  +triangle-color(green)

  left: $first-hexagon-left-position
  top: 0

.career-icon
  +triangle-color(yellow)

  left: $first-hexagon-left-position + $hexagon-triangle-width + $hexagon-base-width
  top: $hexagon-height / 2

.career-cv
  +triangle-color(black)

  left: $first-hexagon-left-position + $hexagon-triangle-width + $hexagon-base-width
  top: $hexagon-height / 2 + $hexagon-height

.career-slider
  +triangle-color(pink)

  left: $first-hexagon-left-position + $hexagon-triangle-width * 3 + $hexagon-base-width * 3
  top: $hexagon-height / 2

.hexagon
  height: $hexagon-height
  position: relative
  width: $hexagon-base-width

  &::before
    +triangle-border-base

    border-width: ($hexagon-height / 2) 0 ($hexagon-height / 2) $hexagon-triangle-width
    border-color: transparent transparent transparent transparent
    right: -$hexagon-triangle-width

  &::after
    +triangle-border-base

    border-width: ($hexagon-height / 2) $hexagon-triangle-width ($hexagon-height / 2) 0
    border-color: transparent transparent transparent transparent
    left: -$hexagon-triangle-width

// CONTACT

.contact
  background-color: #272b2f
  display: flex
  justify-content: space-around
  flex-direction: column

.describe-box
  display: flex
  flex-direction: row
  flex-wrap: wrap

  ul
    display: inline-block
    padding: 0
    margin: 0
    list-style: none
    font-size: 16px

    li
      text-decoration: none
      display: flex
      padding: 10px 20px
      margin-left: 0 10px
      border-left: 1px solid #FFF

      a
        text-decoration: none
        color: white

// FOOTER
.footer
  display: flex
  justify-content: space-between

.left
  margin-left: 163px

  h3
    font-size: 12px

.right
  margin-right: 166px

  h3
    font-size: 12px
