$white-color: #FFF
$blue-color: #1fb5e3
$oragne-color: #f19621
$fiolet-color: #7e4ae8
$fill-color: #272b2f
$services-background: #eff2f4



*
  box-sizing: border-box
  margin: 0
  padding: 0


body
  background-color: $fill-color
  color: #626a72
  margin: 0
  padding: 0

header
  position: sticky
  top: 0
  z-index: 999

.container
  font-size: 14px
  max-width: 1500px
  margin: 0 auto
  width: 100%


.navigation

  background-color: #272b2f
  display: flex
  max-height: 70px

  .nav
    font-size: 14px
    width: 100%
    margin: 20px

    ul

      display: flex
      padding: 0
      margin: 0
      list-style: none
      justify-content: flex-end


      li

        display: flex
        padding: 10px 20px
        border-left: 1px solid $white-color

        a
          text-decoration: none
          color: $white-color

.logo
  color: $white-color
  font-size: 30px
  margin: 20px 0 10px 28px

  &::after
    bottom: 7px
    background-color: $blue-color
    content: ""
    height: 1px
    position: absolute
    width: 54px
.logo
  span
    &::after
      bottom: 7px
      background-color: $oragne-color
      content: ""
      height: 1px
      left: 82px
      position: absolute
      width: 134px



.social
  padding: 10px 0
  text-align: center

  ul
    display: flex
    padding: 0
    margin: 0
    list-style: none
    justify-content: flex-end
    font-size: 16px

    li
      display: flex

      a
        width: 70px
        color: $white-color
        text-decoration: none

.icon-height
  margin: 18px



// SLIDER SECTION

.slider
  background-image: url("../img/slider-blue.jpg")
  background-repeat: no-repeat
  background-size: cover
  height: 578px
  overflow: hidden

  .slider-1
    position: absolute
    width: 100%
    height: 577px

.slider-text
  position: absolute
  top: 36%
  left: 12%
  h2
    color: $white-color
    font-size: 60px
    width: 630px

// INDICATORS
$indicator-height: 82px
$indicator-width: 46px

=triangle-border-base
  border-style: solid
  content: ""
  position: absolute

=indicator-box
  height: $indicator-height
  position: absolute
  top: calc(90%/2)
  width: $indicator-width

.indicator-box-left
  +indicator-box
  background-color: $fiolet-color
  left: 0
  &::after
    +triangle-border-base
    left: $indicator-width
    border-width: ($indicator-height / 2) (0 + $indicator-height / $indicator-width + $indicator-width / 2)
    border-color: transparent transparent transparent $fiolet-color

.indicator-box-right
  +indicator-box
  background-color: $oragne-color
  right: 0
  &::after
    +triangle-border-base
    right: $indicator-width
    border-width: ($indicator-height / 2) (0 + $indicator-height / $indicator-width + $indicator-width / 2)
    border-color: transparent $oragne-color transparent transparent



// SECTION OF STICKY-NAV
$box-height: 120px
$box-width: 90px

=triangle-border-base
  border-style: solid
  content: ""
  position: absolute

=box-menu-position
  position: absolute
  top: -60px
  background-color: $services-background


.box-left
  height: $box-height
  width: $box-width
  left: 0
  +box-menu-position


.box-left
  &::after
    +triangle-border-base
    left: $box-width
    border-width: $box-height 0 0 ($box-width / 2)
    border-color: transparent transparent transparent $services-background

.box-right
  height: $box-height
  width: $box-width
  right: 0
  +box-menu-position
  &::after
    +triangle-border-base
    right: $box-width
    border-width: 0 0 $box-height ($box-width / 2)
    border-color: transparent transparent $services-background transparent


.menu
  display: flex
  position: relative
  justify-content: center
  background-color: #eff2f4

  .sticky-nav
    border: 1px solid black
    background-color: $white-color
    padding: 10px 0
    position: relative
    width: 80%

    ul
      display: flex
      padding: 0
      margin: 0
      list-style: none
      justify-content: center
      font-size: 16px

      li
        display: flex
        padding: 10px 20px
        margin-left: 0 10px
        border-left: 1px solid $white-color

        a
          text-decoration: none
          color: #909fae



// OUR SERCICES SECTION
$padding-20: 20px

=flex-center-position
  align-items: center
  display: flex
  justify-content: center

.services-background
  background-color: $services-background
  display: flex
  justify-content: center
  width: 100%

.our-services
  width: 80%
  padding: 0 40px

.our-services_box
  +flex-center-position

  margin: 0 80px
  padding: 10px

.head
  margin: 10px
  padding: 10px
  border: 1px solid $white-color
  display: flex
  flex-direction: column
  width: 300px

  h1
    color: $blue-color

.text
  display: flex
  flex-direction: row

  .text-1
    padding: $padding-20

  .text-2
    padding: $padding-20

.boxes
  display: flex
  align-items: center
  justify-content: center

.box
  margin: 10px
  text-align: center
  width: 300px
  height: 300px
  border: 1px solid $white-color

.box-height
  margin-bottom: 30px
  margin-top: 120px

// OUR PRODUCTS SECTION
=flex-center-position
  align-items: center
  display: flex
  justify-content: center

.products-background
  background-color: $blue-color
  display: flex
  justify-content: center
  width: 100%
  color: #d8f0f8

.our-products
  border: 1px solid black
  padding: 0 40px
  width: 80%

.heads
  display: flex
  flex-direction: column
  margin-top: 20px
  padding: 20px
  width: 300px
  h1
    font-size: 34px

.boxes-icons
  +flex-center-position

.box-icon
  margin: 10px
  width: 400px
  height: 300px
  text-align: left
  h2
    margin: 0

.image-height
  margin-bottom: 180px

// CARRER SECTION

$first-hexagon-left-position: 214px
$hexagon-base-width: 204px
$hexagon-height: 251px
$hexagon-triangle-width: 61px

=triangle-border-base
  border-style: solid
  content: ""
  position: absolute

=triangle-color($color)
  .hexagon
    background-color: $color

    &::before
      border-left-color: $color

    &::after
      border-right-color: $color

.career
  background-image: url("../img/carrer.jpg")
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  height: 628px
  position: relative

.career-box
  position: absolute

.career-careers
  +triangle-color($blue-color)

  left: $first-hexagon-left-position
  top: 0

.career-icon
  +triangle-color($blue-color)

  left: $first-hexagon-left-position + $hexagon-triangle-width + $hexagon-base-width
  top: $hexagon-height / 2

.career-cv
  +triangle-color($white-color)

  left: $first-hexagon-left-position + $hexagon-triangle-width + $hexagon-base-width
  top: $hexagon-height / 2 + $hexagon-height

.career-slider
  +triangle-color($oragne-color)

  left: $first-hexagon-left-position + $hexagon-triangle-width * 3 + $hexagon-base-width * 3
  top: $hexagon-height / 2

.hexagon
  height: $hexagon-height
  position: relative
  width: $hexagon-base-width

  &::before
    +triangle-border-base

    border-width: ($hexagon-height / 2) 0 ($hexagon-height / 2) $hexagon-triangle-width
    border-color: transparent transparent transparent transparent
    right: -$hexagon-triangle-width

  &::after
    +triangle-border-base

    border-width: ($hexagon-height / 2) $hexagon-triangle-width ($hexagon-height / 2) 0
    border-color: transparent transparent transparent transparent
    left: -$hexagon-triangle-width

// CONTACT SECTION
=content-position
  display: flex
  flex-direction: row
  flex-wrap: wrap

.contact
  background-color: #272b2f
  display: flex

.describe-box
  +content-position

  ul
    display: inline-block
    padding: 0
    margin: 0
    list-style: none
    font-size: 16px

    li
      text-decoration: none
      display: flex
      padding: 10px 20px
      margin-left: 0 10px
      border-left: 1px solid #FFF

      a
        text-decoration: none
        color: white

// FOOTER
.footer
  display: flex
  justify-content: space-between

.left
  margin-left: 163px

  h3
    font-size: 12px

.right
  margin-right: 166px

  h3
    font-size: 12px
