body {
	font: 300 18px / 1.6em Roboto, Arial, sans-serif;
	color: #7c8ca0;
}

/* Links */
a {
	color: #7c8ca0;
	text-decoration: none;
}

a:hover {
	opacity: 0.9;
}

/* Images */
img {
	max-width: 100%;
	height: auto;
}

/* Buttons */
.btn {
	padding: 24px 70px;
	color: #0149a1;
	background: #fff;
	font-size: 18px;
	line-height: 2.6em;
	font-weight: 700;
	border-radius: 30px;
}

.btn-primary {
	background-color: #ff2d55;
	color: #fff;
}

.btn-default {

}

/* Grid */
.container {
	max-width: 1500px;
	width: 100%;
	margin: 0 auto;
}

/* Page Header */
.page-header {
	padding: 25px 0;
	border-bottom: 1px solid #e4e6ea;
}

.page-header > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.brand, .brand img {
	display: block;
}

/* Menu */
.menu-items {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	align-items: center;
}

.menu-items li {
	margin: 0 4px;
	display: inline-block;
}

.menu-items li a {
	padding: 16px 25px;
	display: inline-block;
	color: #5d6981;
	font-size: 20px;
	line-height: 1.2em;
	font-weight: 400;
}

.menu-items .active {
	border-radius: 36px;
	border: 1px solid #9fabba;
}

/* Menu icon */
.menu-items .menu-icon {
	margin: 0 8px;
}

.menu-items .menu-icon a {
	background-repeat: no-repeat;
	height: 46px;
	width: 46px;
	padding: 0;
}

.facebook-icon {
	background-image: url('../img/facebook-icon.png');
}

.twitter-icon {
	background-image: url('../img/twitter-icon.png');
}

/* Page section */

/* Section header */
.section-header {
	text-align: center;
	margin-top: 135px;
}

.section-header h2 {
	color: #0149a1;
	font-size: 72px;
	font-weight: 700;
	margin: 0;
}

.section-header p {
	color: #5d6981;
	font-size: 36px;
	line-height: 1.3em;
	font-weight: 300;
	margin: 28px 0 0;
}

/* Intro CTA */
.intro-cta {
	text-align: center;
	margin-top: 105px;
}
